In [1]:
import requests
from pymongo import MongoClient
from pymongo import GEOSPHERE
import pandas as pd
import json

In [133]:
import os
import requests
import json
from dotenv import load_dotenv
import pandas as pd

import geopandas as gpd
from cartoframes.viz import Map, Layer, popup_element

import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd

In [2]:
designers = 20
ui_ux_engineers = 5
frontend_dev = 10
data_engineers = 15
backend_dev = 5
account_managers = 20
maint = 1
executives = 10
ceo = 1

In [3]:
total_company = designers + ui_ux_engineers + frontend_dev + data_engineers + backend_dev + account_managers + maint + executives + ceo

In [4]:
total_company

87

In [5]:
def weighted_colleague(string):
    return (string/total_company)*100

In [6]:
weighted_colleague(designers)

22.988505747126435

In [7]:
weighted_colleague(ui_ux_engineers)

5.747126436781609

In [8]:
weighted_colleague(frontend_dev)

11.494252873563218

In [9]:
weighted_colleague(data_engineers)

17.24137931034483

In [10]:
weighted_colleague(backend_dev)

5.747126436781609

In [11]:
weighted_colleague(maint)

1.1494252873563218

In [12]:
weighted_colleague(account_managers)

22.988505747126435

In [13]:
weighted_colleague(executives)

11.494252873563218

In [14]:
weighted_colleague(ceo)

1.1494252873563218

In [15]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [16]:
db = client["Ironhack"]
c = db.get_collection("companies")

In [17]:
filter_one = {"category_code":"design"}
projection = {"name":1,"category_code": 1, "offices.country_code": 1,"offices.city": 1, "_id":0}
result_design = list(c.find(filter_one, projection))
result_design

[{'name': '99designs',
  'category_code': 'design',
  'offices': [{'city': 'San Francisco', 'country_code': 'USA'},
   {'city': 'Collingwood', 'country_code': 'AUS'},
   {'city': 'Berlin', 'country_code': 'DEU'}]},
 {'name': 'Graticle',
  'category_code': 'design',
  'offices': [{'city': 'Ellensburg', 'country_code': 'USA'}]},
 {'name': 'Kickstarter',
  'category_code': 'design',
  'offices': [{'city': 'Brooklyn', 'country_code': 'USA'}]},
 {'name': 'Moonfruit',
  'category_code': 'design',
  'offices': [{'city': 'London', 'country_code': 'GBR'}]}]

In [ ]:
# Let's focus on San Francisco,Collingwood, Berlin, Ellensburg, Brooklyn and London as a starting point

In [18]:
filter_one = {"category_code":"games_video"}
filter_one = {}
projection = {"offices.country_code": 1, "_id":0}
result_gaming = list(c.find(filter_one, projection).sort("offices.country_code", 1))
result_gaming

[{'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 {'offices': []},
 ...]

In [19]:
condition_one = {"description": {"$regex": "design"}}
condition_two = {"tag_list": {"$regex": "design"}}
condition_three = {"name": {"$regex": "design"}}
condition_four = {"category_code": {"$regex": "design"}}
condition_five = {"total_money_raised": {"$regex": "M"}}
condition_six = {"total_money_raised": {"$regex": "B"}}
condition_seven = {}

In [20]:
projection = {"name": 1, "number_of_employees": 1, "total_money_raised": 1,"offices.country_code": 1,"offices.city": 1, "_id":0}
result_gaming = list(c.find({
    "$or": [
         condition_one,
          condition_two, condition_three,
            condition_four,
          condition_five,condition_six
    ], 
    "number_of_employees": {"$gte": 3000}
}, projection))


result_gaming[0]

{'name': 'Facebook',
 'number_of_employees': 5299,
 'total_money_raised': '$2.43B',
 'offices': [{'city': 'Menlo Park', 'country_code': 'USA'},
  {'city': 'Dublin', 'country_code': 'IRL'},
  {'city': 'New York', 'country_code': 'USA'}]}

In [32]:
len(result_gaming)

31

In [65]:
type(result_gaming)

list

In [21]:
df = pd.DataFrame(result_gaming)
df

,name,number_of_employees,total_money_raised,offices
0,Facebook,5299,$2.43B,"[{'city': 'Menlo Park', 'country_code': 'USA'}..."
1,eBay,15000,$6.7M,"[{'city': 'San Jose', 'country_code': 'USA'}]"
2,Cisco,63000,$2.5M,"[{'city': 'San Jose', 'country_code': 'USA'}]"
3,Yahoo!,13600,$6.8M,"[{'city': 'Sunnyvale', 'country_code': 'USA'}]"
4,Google,28000,$555M,"[{'city': 'Mountain View', 'country_code': 'US..."
5,LinkedIn,4800,$200M,"[{'city': 'Mountain View', 'country_code': 'US..."
6,Adobe Systems,7173,$0,"[{'city': 'San Jose', 'country_code': 'USA'}]"
7,PayPal,300000,$197M,"[{'city': 'San Jose', 'country_code': 'USA'}]"
8,AOL,8000,$1B,"[{'city': 'New York', 'country_code': 'USA'}]"
9,Rakuten,10000,$42.4M,"[{'city': 'Tokyo', 'country_code': 'JPN'}]"
10,Salesforce,3500,$99.9M,"[{'city': 'San Francisco', 'country_code': 'US..."
11,Intuit,8000,$6.7M,"[{'city': 'Mountain View', 'country_code': 'US..."
12,Baidu,6000,$161M,"[{'city': 'Beijing', 'country_code': 'CHN'}]"
13,Comcast,100000,$725M,"[{'city': 'Philadelphia', 'country_code': 'USA'}]"
14,Texas Instruments,30175,$25.5M,"[{'city': 'Dallas', 'country_code': 'USA'}, {'..."
15,Spotify,5000,$533M,"[{'city': 'Luxembourg', 'country_code': 'LUX'}..."
16,Autodesk,7800,$0,"[{'city': 'San Rafael', 'country_code': 'USA'}]"
17,Yandex,4000,$5.3M,"[{'city': 'Moscow', 'country_code': 'RUS'}, {'..."
18,VMware,13500,$369M,"[{'city': 'Palo Alto', 'country_code': 'USA'}]"
19,Louis Vuitton,9671,$0,"[{'city': 'Paris', 'country_code': 'FRA'}]"
20,Xerox,57400,$1.1B,"[{'city': 'Norwalk', 'country_code': 'USA'}]"
21,MetaCarta,99999,$10M,"[{'city': 'Cambridge', 'country_code': 'USA'}]"
22,Gorenje,11000,$0,"[{'city': 'Wien', 'country_code': 'AUT'}, {'ci..."
23,Siemens,405000,$8.9M,"[{'city': 'Munich', 'country_code': 'DEU'}]"
24,Groupon,10000,$1.15B,"[{'city': 'Chicago', 'country_code': 'USA'}, {..."
25,PCH International,5000,$77M,"[{'city': 'Shenzen', 'country_code': 'CHN'}, {..."
26,Sapient,10000,$2.4M,"[{'city': 'Boston', 'country_code': 'USA'}, {'..."
27,ECI Telecom,3000,$173M,"[{'city': 'Ft. Lauderdale', 'country_code': 'U..."
28,CPM Braxis,5400,$100M,"[{'city': 'SÃ£o Paulo', 'country_code': 'BRA'}..."
29,EPAM Systems,8100,$50M,"[{'city': 'Newtown', 'country_code': 'USA'}, {..."
30,General Dynamics,92900,$84.9M,"[{'city': 'Falls Church', 'country_code': 'USA'}]"

In [39]:
df["total_offices"] = df["offices"].apply(lambda x: len(x))
df.sort_values(by="total_offices", ascending=False).reset_index()

,index,name,number_of_employees,total_money_raised,offices,total_offices
0,4,Google,28000,$555M,"[{'city': 'Mountain View', 'country_code': 'US...",67
1,17,Yandex,4000,$5.3M,"[{'city': 'Moscow', 'country_code': 'RUS'}, {'...",9
2,26,Sapient,10000,$2.4M,"[{'city': 'Boston', 'country_code': 'USA'}, {'...",8
3,15,Spotify,5000,$533M,"[{'city': 'Luxembourg', 'country_code': 'LUX'}...",7
4,24,Groupon,10000,$1.15B,"[{'city': 'Chicago', 'country_code': 'USA'}, {...",4
5,22,Gorenje,11000,$0,"[{'city': 'Wien', 'country_code': 'AUT'}, {'ci...",4
6,29,EPAM Systems,8100,$50M,"[{'city': 'Newtown', 'country_code': 'USA'}, {...",3
7,28,CPM Braxis,5400,$100M,"[{'city': 'SÃ£o Paulo', 'country_code': 'BRA'}...",3
8,0,Facebook,5299,$2.43B,"[{'city': 'Menlo Park', 'country_code': 'USA'}...",3
9,11,Intuit,8000,$6.7M,"[{'city': 'Mountain View', 'country_code': 'US...",2
10,14,Texas Instruments,30175,$25.5M,"[{'city': 'Dallas', 'country_code': 'USA'}, {'...",2
11,25,PCH International,5000,$77M,"[{'city': 'Shenzen', 'country_code': 'CHN'}, {...",2
12,9,Rakuten,10000,$42.4M,"[{'city': 'Tokyo', 'country_code': 'JPN'}]",1
13,21,MetaCarta,99999,$10M,"[{'city': 'Cambridge', 'country_code': 'USA'}]",1
14,2,Cisco,63000,$2.5M,"[{'city': 'San Jose', 'country_code': 'USA'}]",1
15,3,Yahoo!,13600,$6.8M,"[{'city': 'Sunnyvale', 'country_code': 'USA'}]",1
16,27,ECI Telecom,3000,$173M,"[{'city': 'Ft. Lauderdale', 'country_code': 'U...",1
17,5,LinkedIn,4800,$200M,"[{'city': 'Mountain View', 'country_code': 'US...",1
18,6,Adobe Systems,7173,$0,"[{'city': 'San Jose', 'country_code': 'USA'}]",1
19,23,Siemens,405000,$8.9M,"[{'city': 'Munich', 'country_code': 'DEU'}]",1
20,7,PayPal,300000,$197M,"[{'city': 'San Jose', 'country_code': 'USA'}]",1
21,20,Xerox,57400,$1.1B,"[{'city': 'Norwalk', 'country_code': 'USA'}]",1
22,10,Salesforce,3500,$99.9M,"[{'city': 'San Francisco', 'country_code': 'US...",1
23,19,Louis Vuitton,9671,$0,"[{'city': 'Paris', 'country_code': 'FRA'}]",1
24,18,VMware,13500,$369M,"[{'city': 'Palo Alto', 'country_code': 'USA'}]",1
25,8,AOL,8000,$1B,"[{'city': 'New York', 'country_code': 'USA'}]",1
26,16,Autodesk,7800,$0,"[{'city': 'San Rafael', 'country_code': 'USA'}]",1
27,1,eBay,15000,$6.7M,"[{'city': 'San Jose', 'country_code': 'USA'}]",1
28,13,Comcast,100000,$725M,"[{'city': 'Philadelphia', 'country_code': 'USA'}]",1
29,12,Baidu,6000,$161M,"[{'city': 'Beijing', 'country_code': 'CHN'}]",1
30,30,General Dynamics,92900,$84.9M,"[{'city': 'Falls Church', 'country_code': 'USA'}]",1

In [ ]:
# I need to change the index of the df above!

In [22]:
df.offices[0]

[{'city': 'Menlo Park', 'country_code': 'USA'},
 {'city': 'Dublin', 'country_code': 'IRL'},
 {'city': 'New York', 'country_code': 'USA'}]

In [23]:
x = df.offices[0]
x

[{'city': 'Menlo Park', 'country_code': 'USA'},
 {'city': 'Dublin', 'country_code': 'IRL'},
 {'city': 'New York', 'country_code': 'USA'}]

In [24]:
new_dict = {}

In [25]:
for i in x:
    ciudad = i["city"]
    print(ciudad)
    if ciudad in new_dict.keys():
        new_dict[ciudad] +=1
    else:
        new_dict[ciudad]  =1
new_dict

Menlo Park
Dublin
New York

{'Menlo Park': 1, 'Dublin': 1, 'New York': 1}

In [26]:
city_dict = {}
for item, rows in df.iterrows():
    for i in rows["offices"]:
        ciudad = i["city"]
        if ciudad in city_dict.keys():
            city_dict[ciudad] +=1
        else:
            city_dict[ciudad]  =1
city_dict

{'Menlo Park': 1,
 'Dublin': 2,
 'New York': 6,
 'San Jose': 4,
 'Sunnyvale': 1,
 'Mountain View': 3,
 'Ann Arbor': 1,
 'Atlanta': 2,
 'Austin': 1,
 'Boulder': 1,
 'Cambridge': 2,
 'Chicago': 3,
 'Coppell': 1,
 'Dallas': 2,
 'Denver': 1,
 'Birmingham': 2,
 'Irvine': 1,
 'Kirkland': 1,
 'Tempe': 1,
 'Pittsburgh': 1,
 'San Francisco': 4,
 'Santa Monica': 1,
 'Seattle': 3,
 'Washington': 1,
 'Melbourne': 1,
 'Sydney': 1,
 'Beijing': 2,
 'Guangzhou': 1,
 'Shanghai': 1,
 'Central': 1,
 'Bangalore': 1,
 'Gurgaon': 1,
 'New Delhi': 1,
 'Hyderabad': 1,
 'Mumbai': 1,
 'Tokyo': 2,
 'Osaka': 1,
 'Seoul': 1,
 'Singapore': 1,
 'Taipei': 1,
 '': 2,
 'Helsinki': 1,
 'Paris': 3,
 'Hamburg': 1,
 'Milan': 1,
 'Amsterdam': 2,
 'Oslo': 2,
 'Trondheim': 1,
 'KrakÃ³w': 1,
 'Wroclaw': 1,
 'Moscow': 3,
 'St. Petersburg': 1,
 'Madrid': 2,
 'LuleÃ¥': 1,
 'Stockholm': 2,
 'ZÃ¼rich': 1,
 'London': 2,
 'Manchester': 1,
 'Montreal': 1,
 'Toronto': 1,
 'Waterloo': 1,
 'Buenos Aires': 1,
 'Sao Paulo': 1,
 'Mexico': 1,
 'Haifa': 1,
 'Tel-Aviv': 1,
 'Istanbul': 1,
 'Dubai': 1,
 'San Diego': 1,
 'Philadelphia': 1,
 'Baguio': 1,
 'Luxembourg': 1,
 'San Rafael': 1,
 'Saint Petersburg': 1,
 'Ekaterinburg': 1,
 'Novosibirsk': 1,
 'Odessa': 1,
 'Kiev': 1,
 'Simferopol': 1,
 'Palo Alto': 3,
 'Luzern': 1,
 'Norwalk': 1,
 'Wien': 1,
 'Sarajevo': 1,
 'Zagreb': 1,
 'Levallois-Perret': 1,
 'Munich': 1,
 'Shenzen': 1,
 'Cork': 1,
 'Boston': 1,
 'Miami': 1,
 'Arlington': 1,
 'Ft. Lauderdale': 1,
 'SÃ£o Paulo': 1,
 'Aventura': 1,
 'Newtown': 1,
 'Falls Church': 1}

In [27]:
{k: v for k, v in sorted(city_dict.items(), key=lambda item: item[1])}

{'Menlo Park': 1,
 'Sunnyvale': 1,
 'Ann Arbor': 1,
 'Austin': 1,
 'Boulder': 1,
 'Coppell': 1,
 'Denver': 1,
 'Irvine': 1,
 'Kirkland': 1,
 'Tempe': 1,
 'Pittsburgh': 1,
 'Santa Monica': 1,
 'Washington': 1,
 'Melbourne': 1,
 'Sydney': 1,
 'Guangzhou': 1,
 'Shanghai': 1,
 'Central': 1,
 'Bangalore': 1,
 'Gurgaon': 1,
 'New Delhi': 1,
 'Hyderabad': 1,
 'Mumbai': 1,
 'Osaka': 1,
 'Seoul': 1,
 'Singapore': 1,
 'Taipei': 1,
 'Helsinki': 1,
 'Hamburg': 1,
 'Milan': 1,
 'Trondheim': 1,
 'KrakÃ³w': 1,
 'Wroclaw': 1,
 'St. Petersburg': 1,
 'LuleÃ¥': 1,
 'ZÃ¼rich': 1,
 'Manchester': 1,
 'Montreal': 1,
 'Toronto': 1,
 'Waterloo': 1,
 'Buenos Aires': 1,
 'Sao Paulo': 1,
 'Mexico': 1,
 'Haifa': 1,
 'Tel-Aviv': 1,
 'Istanbul': 1,
 'Dubai': 1,
 'San Diego': 1,
 'Philadelphia': 1,
 'Baguio': 1,
 'Luxembourg': 1,
 'San Rafael': 1,
 'Saint Petersburg': 1,
 'Ekaterinburg': 1,
 'Novosibirsk': 1,
 'Odessa': 1,
 'Kiev': 1,
 'Simferopol': 1,
 'Luzern': 1,
 'Norwalk': 1,
 'Wien': 1,
 'Sarajevo': 1,
 'Zagreb': 1,
 'Levallois-Perret': 1,
 'Munich': 1,
 'Shenzen': 1,
 'Cork': 1,
 'Boston': 1,
 'Miami': 1,
 'Arlington': 1,
 'Ft. Lauderdale': 1,
 'SÃ£o Paulo': 1,
 'Aventura': 1,
 'Newtown': 1,
 'Falls Church': 1,
 'Dublin': 2,
 'Atlanta': 2,
 'Cambridge': 2,
 'Dallas': 2,
 'Birmingham': 2,
 'Beijing': 2,
 'Tokyo': 2,
 '': 2,
 'Amsterdam': 2,
 'Oslo': 2,
 'Madrid': 2,
 'Stockholm': 2,
 'London': 2,
 'Mountain View': 3,
 'Chicago': 3,
 'Seattle': 3,
 'Paris': 3,
 'Moscow': 3,
 'Palo Alto': 3,
 'San Jose': 4,
 'San Francisco': 4,
 'New York': 6}

In [29]:
df.offices[0][0]["country_code"]

'USA'

In [30]:
country_dict = {}
for item, rows in df.iterrows():
    for i in rows["offices"]:
        country = i["country_code"]
        if country in country_dict.keys():
            country_dict[country] +=1
        else:
            country_dict[country]  =1
country_dict

{'USA': 60,
 'IRL': 3,
 'AUS': 2,
 'CHN': 5,
 'HKG': 1,
 'IND': 4,
 'JPN': 2,
 'PRK': 1,
 'SGP': 1,
 'TWN': 1,
 'DNK': 2,
 'FIN': 1,
 'FRA': 4,
 'DEU': 2,
 'ITA': 1,
 'NLD': 2,
 'NOR': 3,
 'POL': 2,
 'RUS': 7,
 'ESP': 2,
 'SWE': 3,
 'CHE': 2,
 'GBR': 3,
 'CAN': 3,
 'ARG': 1,
 'BRA': 2,
 'MEX': 1,
 'ISR': 2,
 'TUR': 1,
 'ARE': 1,
 'PHL': 1,
 'LUX': 1,
 'UKR': 3,
 'AUT': 1,
 'BIH': 1,
 'HRV': 1}

In [31]:
{k: v for k, v in sorted(country_dict.items(), key=lambda item: item[1])}

{'HKG': 1,
 'PRK': 1,
 'SGP': 1,
 'TWN': 1,
 'FIN': 1,
 'ITA': 1,
 'ARG': 1,
 'MEX': 1,
 'TUR': 1,
 'ARE': 1,
 'PHL': 1,
 'LUX': 1,
 'AUT': 1,
 'BIH': 1,
 'HRV': 1,
 'AUS': 2,
 'JPN': 2,
 'DNK': 2,
 'DEU': 2,
 'NLD': 2,
 'POL': 2,
 'ESP': 2,
 'CHE': 2,
 'BRA': 2,
 'ISR': 2,
 'IRL': 3,
 'NOR': 3,
 'SWE': 3,
 'GBR': 3,
 'CAN': 3,
 'UKR': 3,
 'IND': 4,
 'FRA': 4,
 'CHN': 5,
 'RUS': 7,
 'USA': 60}

In [ ]:
# Add an interactive (plotly?) map with the countries above

In [33]:
# Now with altitude and longitude
projection = {"name": 1, "number_of_employees": 1, "total_money_raised": 1,"offices.country_code": 1,"offices.city": 1,"offices.latitude": 1,"offices.longitude": 1, "_id":0}
result_gaming_latlong = list(c.find({
    "$or": [
         condition_one,
          condition_two, condition_three,
            condition_four,
          condition_five,condition_six
    ], 
    "number_of_employees": {"$gte": 3000}
}, projection))


result_gaming_latlong[0]

{'name': 'Facebook',
 'number_of_employees': 5299,
 'total_money_raised': '$2.43B',
 'offices': [{'city': 'Menlo Park',
   'country_code': 'USA',
   'latitude': 37.41605,
   'longitude': -122.151801},
  {'city': 'Dublin',
   'country_code': 'IRL',
   'latitude': 53.344104,
   'longitude': -6.267494},
  {'city': 'New York',
   'country_code': 'USA',
   'latitude': 40.7557162,
   'longitude': -73.9792469}]}

In [38]:
result_gaming_latlong[0]["offices"][0]["latitude"]

37.41605

In [40]:
# Now with altitude and longitude  but filtering for the key cities I'm interested in:
condition_one = {"description": {"$regex": "design"}}
condition_two = {"tag_list": {"$regex": "design"}}
condition_three = {"name": {"$regex": "design"}}
condition_four = {"category_code": {"$regex": "design"}}
condition_five = {"total_money_raised": {"$regex": "M"}}
condition_six = {"total_money_raised": {"$regex": "B"}}
condition_seven = {"number_of_employees": {"$gte": 3000}}
condition_eight = {"offices.city": {"$regex": "York"}}

In [42]:
projection = {"name": 1, "number_of_employees": 1, "total_money_raised": 1,"offices.country_code": 1,"offices.city": 1,"offices.latitude": 1,"offices.longitude": 1, "_id":0}
result_gaming_latlong_nyc = list(c.find({
    "$and": [
        {
            "$or": [
                 condition_one,
                condition_two, condition_three,
                condition_four,
                  condition_five,condition_six
                    ]}, 
    
    condition_seven,condition_eight]}, projection))


result_gaming_latlong_nyc

[{'name': 'Facebook',
  'number_of_employees': 5299,
  'total_money_raised': '$2.43B',
  'offices': [{'city': 'Menlo Park',
    'country_code': 'USA',
    'latitude': 37.41605,
    'longitude': -122.151801},
   {'city': 'Dublin',
    'country_code': 'IRL',
    'latitude': 53.344104,
    'longitude': -6.267494},
   {'city': 'New York',
    'country_code': 'USA',
    'latitude': 40.7557162,
    'longitude': -73.9792469}]},
 {'name': 'Google',
  'number_of_employees': 28000,
  'total_money_raised': '$555M',
  'offices': [{'city': 'Mountain View',
    'country_code': 'USA',
    'latitude': 37.421972,
    'longitude': -122.084143},
   {'city': 'Ann Arbor',
    'country_code': 'USA',
    'latitude': 42.280988,
    'longitude': -83.748882},
   {'city': 'Atlanta',
    'country_code': 'USA',
    'latitude': 33.781466,
    'longitude': -84.387519},
   {'city': 'Austin',
    'country_code': 'USA',
    'latitude': 30.351416,
    'longitude': -97.751382},
   {'city': 'Boulder',
    'country_code': 'USA',
    'latitude': 40.021416,
    'longitude': -105.260931},
   {'city': 'Cambridge',
    'country_code': 'USA',
    'latitude': 42.36305,
    'longitude': -71.087478},
   {'city': 'Chicago',
    'country_code': 'USA',
    'latitude': 41.889474,
    'longitude': -87.628912},
   {'city': 'Coppell',
    'country_code': 'USA',
    'latitude': 32.981465,
    'longitude': -97.018196},
   {'city': 'Dallas',
    'country_code': 'USA',
    'latitude': 32.809161,
    'longitude': -96.807693},
   {'city': 'Denver',
    'country_code': 'USA',
    'latitude': 39.62919,
    'longitude': -104.898419},
   {'city': 'Birmingham',
    'country_code': 'USA',
    'latitude': 42.547807,
    'longitude': -83.215498},
   {'city': 'Irvine',
    'country_code': 'USA',
    'latitude': 33.658331,
    'longitude': -117.861817},
   {'city': 'Kirkland',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'New York',
    'country_code': 'USA',
    'latitude': 40.74222,
    'longitude': -74.004489},
   {'city': 'Tempe',
    'country_code': 'USA',
    'latitude': 33.411898,
    'longitude': -111.926263},
   {'city': 'Pittsburgh',
    'country_code': 'USA',
    'latitude': 40.444528,
    'longitude': -79.946269},
   {'city': 'San Francisco',
    'country_code': 'USA',
    'latitude': 37.789803,
    'longitude': -122.389757},
   {'city': 'Santa Monica',
    'country_code': 'USA',
    'latitude': 34.019282,
    'longitude': -118.494288},
   {'city': 'Seattle',
    'country_code': 'USA',
    'latitude': 47.675326,
    'longitude': -122.351397},
   {'city': 'Seattle',
    'country_code': 'USA',
    'latitude': 47.649701,
    'longitude': -122.350592},
   {'city': 'Washington',
    'country_code': 'USA',
    'latitude': 38.901113,
    'longitude': -77.027101},
   {'city': 'Melbourne',
    'country_code': 'AUS',
    'latitude': -37.879234,
    'longitude': 145.073608},
   {'city': 'Sydney',
    'country_code': 'AUS',
    'latitude': -34.822723,
    'longitude': 138.612396},
   {'city': 'Beijing',
    'country_code': 'CHN',
    'latitude': None,
    'longitude': None},
   {'city': 'Guangzhou',
    'country_code': 'CHN',
    'latitude': None,
    'longitude': None},
   {'city': 'Shanghai',
    'country_code': 'CHN',
    'latitude': None,
    'longitude': None},
   {'city': 'Central',
    'country_code': 'HKG',
    'latitude': None,
    'longitude': None},
   {'city': 'Bangalore',
    'country_code': 'IND',
    'latitude': None,
    'longitude': None},
   {'city': 'Gurgaon',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'New Delhi',
    'country_code': 'IND',
    'latitude': 28.86999,
    'longitude': 77.122261},
   {'city': 'Hyderabad',
    'country_code': 'IND',
    'latitude': None,
    'longitude': None},
   {'city': 'Mumbai',
    'country_code': 'IND',
    'latitude': None,
    'longitude': None},
   {'city': 'Tokyo',
    'country_code': 'JPN',
    'latitude': None,
    'longitude': None},
   {'city': 'Osaka',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'Seoul',
    'country_code': 'PRK',
    'latitude': None,
    'longitude': None},
   {'city': 'Singapore',
    'country_code': 'SGP',
    'latitude': None,
    'longitude': None},
   {'city': 'Taipei',
    'country_code': 'TWN',
    'latitude': None,
    'longitude': None},
   {'city': '',
    'country_code': 'DNK',
    'latitude': 56.171882,
    'longitude': 10.187799},
   {'city': '', 'country_code': 'DNK', 'latitude': None, 'longitude': None},
   {'city': 'Helsinki',
    'country_code': 'FIN',
    'latitude': None,
    'longitude': None},
   {'city': 'Paris',
    'country_code': 'FRA',
    'latitude': 48.869606,
    'longitude': 2.332749},
   {'city': 'Hamburg',
    'country_code': 'DEU',
    'latitude': 53.554052,
    'longitude': 9.985266},
   {'city': 'Dublin',
    'country_code': 'IRL',
    'latitude': 53.339914,
    'longitude': -6.234424},
   {'city': 'Milan',
    'country_code': 'ITA',
    'latitude': 45.46381,
    'longitude': 9.195978},
   {'city': 'Amsterdam',
    'country_code': 'NLD',
    'latitude': 52.337495,
    'longitude': 4.871464},
   {'city': 'Oslo',
    'country_code': 'NOR',
    'latitude': 59.915848,
    'longitude': 10.741047},
   {'city': 'Trondheim',
    'country_code': 'NOR',
    'latitude': 63.435324,
    'longitude': 10.412428},
   {'city': 'KrakÃ³w',
    'country_code': 'POL',
    'latitude': 50.063281,
    'longitude': 19.929806},
   {'city': 'Wroclaw',
    'country_code': 'POL',
    'latitude': 51.116574,
    'longitude': 17.041942},
   {'city': 'Moscow',
    'country_code': 'RUS',
    'latitude': None,
    'longitude': None},
   {'city': 'St. Petersburg',
    'country_code': 'RUS',
    'latitude': None,
    'longitude': None},
   {'city': 'Madrid',
    'country_code': 'ESP',
    'latitude': None,
    'longitude': None},
   {'city': 'LuleÃ¥',
    'country_code': 'SWE',
    'latitude': 65.617491,
    'longitude': 22.126255},
   {'city': 'Stockholm',
    'country_code': 'SWE',
    'latitude': 59.332344,
    'longitude': 18.060162},
   {'city': 'ZÃ¼rich',
    'country_code': 'CHE',
    'latitude': 47.36554,
    'longitude': 8.524864},
   {'city': 'London',
    'country_code': 'GBR',
    'latitude': None,
    'longitude': None},
   {'city': 'Manchester',
    'country_code': 'GBR',
    'latitude': 53.473606,
    'longitude': -2.250166},
   {'city': 'Montreal',
    'country_code': 'CAN',
    'latitude': 45.498588,
    'longitude': -73.567044},
   {'city': 'Toronto',
    'country_code': 'CAN',
    'latitude': None,
    'longitude': None},
   {'city': 'Waterloo',
    'country_code': 'CAN',
    'latitude': 43.474704,
    'longitude': -80.546381},
   {'city': 'Buenos Aires',
    'country_code': 'ARG',
    'latitude': None,
    'longitude': None},
   {'city': 'Sao Paulo',
    'country_code': 'BRA',
    'latitude': -23.590463,
    'longitude': -46.681494},
   {'city': 'Mexico',
    'country_code': 'MEX',
    'latitude': 19.507519,
    'longitude': -99.030156},
   {'city': 'Haifa',
    'country_code': 'ISR',
    'latitude': None,
    'longitude': None},
   {'city': 'Tel-Aviv',
    'country_code': 'ISR',
    'latitude': None,
    'longitude': None},
   {'city': 'Istanbul',
    'country_code': 'TUR',
    'latitude': None,
    'longitude': None},
   {'city': 'Dubai',
    'country_code': 'ARE',
    'latitude': None,
    'longitude': None}]},
 {'name': 'AOL',
  'number_of_employees': 8000,
  'total_money_raised': '$1B',
  'offices': [{'city': 'New York',
    'country_code': 'USA',
    'latitude': 40.7311317,
    'longitude': -73.9919311}]},
 {'name': 'Spotify',
  'number_of_employees': 5000,
  'total_money_raised': '$533M',
  'offices': [{'city': 'Luxembourg',
    'country_code': 'LUX',
    'latitude': 49.607295,
    'longitude': 6.121511},
   {'city': 'Paris',
    'country_code': 'FRA',
    'latitude': None,
    'longitude': None},
   {'city': 'Oslo',
    'country_code': 'NOR',
    'latitude': None,
    'longitude': None},
   {'city': 'Stockholm',
    'country_code': 'SWE',
    'latitude': None,
    'longitude': None},
   {'city': 'Madrid',
    'country_code': 'ESP',
    'latitude': None,
    'longitude': None},
   {'city': 'New York',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'Amsterdam',
    'country_code': 'NLD',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Sapient',
  'number_of_employees': 10000,
  'total_money_raised': '$2.4M',
  'offices': [{'city': 'Boston',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'New York',
    'country_code': 'USA',
    'latitude': 40.707872,
    'longitude': -74.004731},
   {'city': 'Atlanta',
    'country_code': 'USA',
    'latitude': 33.8540338,
    'longitude': -84.3584803},
   {'city': 'Chicago',
    'country_code': 'USA',
    'latitude': 41.881065,
    'longitude': -87.62903},
   {'city': 'Birmingham',
    'country_code': 'USA',
    'latitude': 42.5469062,
    'longitude': -83.2144938},
   {'city': 'Miami',
    'country_code': 'USA',
    'latitude': 25.790926,
    'longitude': -80.1343277},
   {'city': 'San Francisco',
    'country_code': 'USA',
    'latitude': 37.79088,
    'longitude': -122.392521},
   {'city': 'Arlington',
    'country_code': 'USA',
    'latitude': 38.8911989,
    'longitude': -77.0837482}]},
 {'name': 'CPM Braxis',
  'number_of_employees': 5400,
  'total_money_raised': '$100M',
  'offices': [{'city': 'SÃ£o Paulo',
    'country_code': 'BRA',
    'latitude': -23.5910421,
    'longitude': -46.6872018},
   {'city': 'New York',
    'country_code': 'USA',
    'latitude': 40.756799,
    'longitude': -73.9763479},
   {'city': 'Aventura',
    'country_code': 'USA',
    'latitude': 25.95606,
    'longitude': -80.146329}]}]

In [43]:
len(result_gaming_latlong_nyc)

6

In [44]:
df_nyc = pd.DataFrame(result_gaming_latlong_nyc)
df_nyc

,name,number_of_employees,total_money_raised,offices
0,Facebook,5299,$2.43B,"[{'city': 'Menlo Park', 'country_code': 'USA',..."
1,Google,28000,$555M,"[{'city': 'Mountain View', 'country_code': 'US..."
2,AOL,8000,$1B,"[{'city': 'New York', 'country_code': 'USA', '..."
3,Spotify,5000,$533M,"[{'city': 'Luxembourg', 'country_code': 'LUX',..."
4,Sapient,10000,$2.4M,"[{'city': 'Boston', 'country_code': 'USA', 'la..."
5,CPM Braxis,5400,$100M,"[{'city': 'SÃ£o Paulo', 'country_code': 'BRA',..."

In [61]:
df_nyc.offices[0][2]["city"]

'New York'

In [72]:
x = df_nyc.offices[0]
x

[{'city': 'Menlo Park',
  'country_code': 'USA',
  'latitude': 37.41605,
  'longitude': -122.151801},
 {'city': 'Dublin',
  'country_code': 'IRL',
  'latitude': 53.344104,
  'longitude': -6.267494},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': 40.7557162,
  'longitude': -73.9792469}]

In [74]:
x[0]["city"]

'Menlo Park'

In [66]:
nyc_list = []

for item, rows in df_nyc.iterrows():
    for i in rows["offices"]:
        nyc_list.append(i)

nyc_list

[{'city': 'Menlo Park',
  'country_code': 'USA',
  'latitude': 37.41605,
  'longitude': -122.151801},
 {'city': 'Dublin',
  'country_code': 'IRL',
  'latitude': 53.344104,
  'longitude': -6.267494},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': 40.7557162,
  'longitude': -73.9792469},
 {'city': 'Mountain View',
  'country_code': 'USA',
  'latitude': 37.421972,
  'longitude': -122.084143},
 {'city': 'Ann Arbor',
  'country_code': 'USA',
  'latitude': 42.280988,
  'longitude': -83.748882},
 {'city': 'Atlanta',
  'country_code': 'USA',
  'latitude': 33.781466,
  'longitude': -84.387519},
 {'city': 'Austin',
  'country_code': 'USA',
  'latitude': 30.351416,
  'longitude': -97.751382},
 {'city': 'Boulder',
  'country_code': 'USA',
  'latitude': 40.021416,
  'longitude': -105.260931},
 {'city': 'Cambridge',
  'country_code': 'USA',
  'latitude': 42.36305,
  'longitude': -71.087478},
 {'city': 'Chicago',
  'country_code': 'USA',
  'latitude': 41.889474,
  'longitude': -87.628912},
 {'city': 'Coppell',
  'country_code': 'USA',
  'latitude': 32.981465,
  'longitude': -97.018196},
 {'city': 'Dallas',
  'country_code': 'USA',
  'latitude': 32.809161,
  'longitude': -96.807693},
 {'city': 'Denver',
  'country_code': 'USA',
  'latitude': 39.62919,
  'longitude': -104.898419},
 {'city': 'Birmingham',
  'country_code': 'USA',
  'latitude': 42.547807,
  'longitude': -83.215498},
 {'city': 'Irvine',
  'country_code': 'USA',
  'latitude': 33.658331,
  'longitude': -117.861817},
 {'city': 'Kirkland',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': 40.74222,
  'longitude': -74.004489},
 {'city': 'Tempe',
  'country_code': 'USA',
  'latitude': 33.411898,
  'longitude': -111.926263},
 {'city': 'Pittsburgh',
  'country_code': 'USA',
  'latitude': 40.444528,
  'longitude': -79.946269},
 {'city': 'San Francisco',
  'country_code': 'USA',
  'latitude': 37.789803,
  'longitude': -122.389757},
 {'city': 'Santa Monica',
  'country_code': 'USA',
  'latitude': 34.019282,
  'longitude': -118.494288},
 {'city': 'Seattle',
  'country_code': 'USA',
  'latitude': 47.675326,
  'longitude': -122.351397},
 {'city': 'Seattle',
  'country_code': 'USA',
  'latitude': 47.649701,
  'longitude': -122.350592},
 {'city': 'Washington',
  'country_code': 'USA',
  'latitude': 38.901113,
  'longitude': -77.027101},
 {'city': 'Melbourne',
  'country_code': 'AUS',
  'latitude': -37.879234,
  'longitude': 145.073608},
 {'city': 'Sydney',
  'country_code': 'AUS',
  'latitude': -34.822723,
  'longitude': 138.612396},
 {'city': 'Beijing',
  'country_code': 'CHN',
  'latitude': None,
  'longitude': None},
 {'city': 'Guangzhou',
  'country_code': 'CHN',
  'latitude': None,
  'longitude': None},
 {'city': 'Shanghai',
  'country_code': 'CHN',
  'latitude': None,
  'longitude': None},
 {'city': 'Central',
  'country_code': 'HKG',
  'latitude': None,
  'longitude': None},
 {'city': 'Bangalore',
  'country_code': 'IND',
  'latitude': None,
  'longitude': None},
 {'city': 'Gurgaon',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'New Delhi',
  'country_code': 'IND',
  'latitude': 28.86999,
  'longitude': 77.122261},
 {'city': 'Hyderabad',
  'country_code': 'IND',
  'latitude': None,
  'longitude': None},
 {'city': 'Mumbai',
  'country_code': 'IND',
  'latitude': None,
  'longitude': None},
 {'city': 'Tokyo', 'country_code': 'JPN', 'latitude': None, 'longitude': None},
 {'city': 'Osaka', 'country_code': 'USA', 'latitude': None, 'longitude': None},
 {'city': 'Seoul', 'country_code': 'PRK', 'latitude': None, 'longitude': None},
 {'city': 'Singapore',
  'country_code': 'SGP',
  'latitude': None,
  'longitude': None},
 {'city': 'Taipei',
  'country_code': 'TWN',
  'latitude': None,
  'longitude': None},
 {'city': '',
  'country_code': 'DNK',
  'latitude': 56.171882,
  'longitude': 10.187799},
 {'city': '', 'country_code': 'DNK', 'latitude': None, 'longitude': None},
 {'city': 'Helsinki',
  'country_code': 'FIN',
  'latitude': None,
  'longitude': None},
 {'city': 'Paris',
  'country_code': 'FRA',
  'latitude': 48.869606,
  'longitude': 2.332749},
 {'city': 'Hamburg',
  'country_code': 'DEU',
  'latitude': 53.554052,
  'longitude': 9.985266},
 {'city': 'Dublin',
  'country_code': 'IRL',
  'latitude': 53.339914,
  'longitude': -6.234424},
 {'city': 'Milan',
  'country_code': 'ITA',
  'latitude': 45.46381,
  'longitude': 9.195978},
 {'city': 'Amsterdam',
  'country_code': 'NLD',
  'latitude': 52.337495,
  'longitude': 4.871464},
 {'city': 'Oslo',
  'country_code': 'NOR',
  'latitude': 59.915848,
  'longitude': 10.741047},
 {'city': 'Trondheim',
  'country_code': 'NOR',
  'latitude': 63.435324,
  'longitude': 10.412428},
 {'city': 'KrakÃ³w',
  'country_code': 'POL',
  'latitude': 50.063281,
  'longitude': 19.929806},
 {'city': 'Wroclaw',
  'country_code': 'POL',
  'latitude': 51.116574,
  'longitude': 17.041942},
 {'city': 'Moscow',
  'country_code': 'RUS',
  'latitude': None,
  'longitude': None},
 {'city': 'St. Petersburg',
  'country_code': 'RUS',
  'latitude': None,
  'longitude': None},
 {'city': 'Madrid',
  'country_code': 'ESP',
  'latitude': None,
  'longitude': None},
 {'city': 'LuleÃ¥',
  'country_code': 'SWE',
  'latitude': 65.617491,
  'longitude': 22.126255},
 {'city': 'Stockholm',
  'country_code': 'SWE',
  'latitude': 59.332344,
  'longitude': 18.060162},
 {'city': 'ZÃ¼rich',
  'country_code': 'CHE',
  'latitude': 47.36554,
  'longitude': 8.524864},
 {'city': 'London',
  'country_code': 'GBR',
  'latitude': None,
  'longitude': None},
 {'city': 'Manchester',
  'country_code': 'GBR',
  'latitude': 53.473606,
  'longitude': -2.250166},
 {'city': 'Montreal',
  'country_code': 'CAN',
  'latitude': 45.498588,
  'longitude': -73.567044},
 {'city': 'Toronto',
  'country_code': 'CAN',
  'latitude': None,
  'longitude': None},
 {'city': 'Waterloo',
  'country_code': 'CAN',
  'latitude': 43.474704,
  'longitude': -80.546381},
 {'city': 'Buenos Aires',
  'country_code': 'ARG',
  'latitude': None,
  'longitude': None},
 {'city': 'Sao Paulo',
  'country_code': 'BRA',
  'latitude': -23.590463,
  'longitude': -46.681494},
 {'city': 'Mexico',
  'country_code': 'MEX',
  'latitude': 19.507519,
  'longitude': -99.030156},
 {'city': 'Haifa', 'country_code': 'ISR', 'latitude': None, 'longitude': None},
 {'city': 'Tel-Aviv',
  'country_code': 'ISR',
  'latitude': None,
  'longitude': None},
 {'city': 'Istanbul',
  'country_code': 'TUR',
  'latitude': None,
  'longitude': None},
 {'city': 'Dubai', 'country_code': 'ARE', 'latitude': None, 'longitude': None},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': 40.7311317,
  'longitude': -73.9919311},
 {'city': 'Luxembourg',
  'country_code': 'LUX',
  'latitude': 49.607295,
  'longitude': 6.121511},
 {'city': 'Paris', 'country_code': 'FRA', 'latitude': None, 'longitude': None},
 {'city': 'Oslo', 'country_code': 'NOR', 'latitude': None, 'longitude': None},
 {'city': 'Stockholm',
  'country_code': 'SWE',
  'latitude': None,
  'longitude': None},
 {'city': 'Madrid',
  'country_code': 'ESP',
  'latitude': None,
  'longitude': None},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'Amsterdam',
  'country_code': 'NLD',
  'latitude': None,
  'longitude': None},
 {'city': 'Boston',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': 40.707872,
  'longitude': -74.004731},
 {'city': 'Atlanta',
  'country_code': 'USA',
  'latitude': 33.8540338,
  'longitude': -84.3584803},
 {'city': 'Chicago',
  'country_code': 'USA',
  'latitude': 41.881065,
  'longitude': -87.62903},
 {'city': 'Birmingham',
  'country_code': 'USA',
  'latitude': 42.5469062,
  'longitude': -83.2144938},
 {'city': 'Miami',
  'country_code': 'USA',
  'latitude': 25.790926,
  'longitude': -80.1343277},
 {'city': 'San Francisco',
  'country_code': 'USA',
  'latitude': 37.79088,
  'longitude': -122.392521},
 {'city': 'Arlington',
  'country_code': 'USA',
  'latitude': 38.8911989,
  'longitude': -77.0837482},
 {'city': 'SÃ£o Paulo',
  'country_code': 'BRA',
  'latitude': -23.5910421,
  'longitude': -46.6872018},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': 40.756799,
  'longitude': -73.9763479},
 {'city': 'Aventura',
  'country_code': 'USA',
  'latitude': 25.95606,
  'longitude': -80.146329}]

In [67]:
df_nyc_coordinates = pd.DataFrame(nyc_list)
df_nyc_coordinates

             city country_code   latitude   longitude
0      Menlo Park          USA  37.416050 -122.151801
1          Dublin          IRL  53.344104   -6.267494
2        New York          USA  40.755716  -73.979247
3   Mountain View          USA  37.421972 -122.084143
4       Ann Arbor          USA  42.280988  -83.748882
..            ...          ...        ...         ...
84  San Francisco          USA  37.790880 -122.392521
85      Arlington          USA  38.891199  -77.083748
86     SÃ£o Paulo          BRA -23.591042  -46.687202
87       New York          USA  40.756799  -73.976348
88       Aventura          USA  25.956060  -80.146329

[89 rows x 4 columns]

In [80]:
# selecting rows based on condition New York
df_nyc_coordinates2 = (df_nyc_coordinates[df_nyc_coordinates['city'] == "New York"]).reset_index().drop('index', axis=1) 
df_nyc_coordinates2

       city country_code   latitude  longitude
0  New York          USA  40.755716 -73.979247
1  New York          USA  40.742220 -74.004489
2  New York          USA  40.731132 -73.991931
3  New York          USA        NaN        NaN
4  New York          USA  40.707872 -74.004731
5  New York          USA  40.756799 -73.976348

In [81]:
df_nyc_coordinates3 = df_nyc_coordinates2[df_nyc_coordinates2['latitude'].notna()]
df_nyc_coordinates3

       city country_code   latitude  longitude
0  New York          USA  40.755716 -73.979247
1  New York          USA  40.742220 -74.004489
2  New York          USA  40.731132 -73.991931
4  New York          USA  40.707872 -74.004731
5  New York          USA  40.756799 -73.976348

In [82]:
# Now with altitude and longitude  but filtering for the key cities I'm interested in: San Francisco
condition_one = {"description": {"$regex": "design"}}
condition_two = {"tag_list": {"$regex": "design"}}
condition_three = {"name": {"$regex": "design"}}
condition_four = {"category_code": {"$regex": "design"}}
condition_five = {"total_money_raised": {"$regex": "M"}}
condition_six = {"total_money_raised": {"$regex": "B"}}
condition_seven = {"number_of_employees": {"$gte": 3000}}
condition_eight = {"offices.city": {"$regex": "Francisco"}}

In [83]:
projection = {"name": 1, "number_of_employees": 1, "total_money_raised": 1,"offices.country_code": 1,"offices.city": 1,"offices.latitude": 1,"offices.longitude": 1, "_id":0}
result_gaming_latlong_sf = list(c.find({
    "$and": [
        {
            "$or": [
                 condition_one,
                condition_two, condition_three,
                condition_four,
                  condition_five,condition_six
                    ]}, 
    
    condition_seven,condition_eight]}, projection))


result_gaming_latlong_sf

[{'name': 'Google',
  'number_of_employees': 28000,
  'total_money_raised': '$555M',
  'offices': [{'city': 'Mountain View',
    'country_code': 'USA',
    'latitude': 37.421972,
    'longitude': -122.084143},
   {'city': 'Ann Arbor',
    'country_code': 'USA',
    'latitude': 42.280988,
    'longitude': -83.748882},
   {'city': 'Atlanta',
    'country_code': 'USA',
    'latitude': 33.781466,
    'longitude': -84.387519},
   {'city': 'Austin',
    'country_code': 'USA',
    'latitude': 30.351416,
    'longitude': -97.751382},
   {'city': 'Boulder',
    'country_code': 'USA',
    'latitude': 40.021416,
    'longitude': -105.260931},
   {'city': 'Cambridge',
    'country_code': 'USA',
    'latitude': 42.36305,
    'longitude': -71.087478},
   {'city': 'Chicago',
    'country_code': 'USA',
    'latitude': 41.889474,
    'longitude': -87.628912},
   {'city': 'Coppell',
    'country_code': 'USA',
    'latitude': 32.981465,
    'longitude': -97.018196},
   {'city': 'Dallas',
    'country_code': 'USA',
    'latitude': 32.809161,
    'longitude': -96.807693},
   {'city': 'Denver',
    'country_code': 'USA',
    'latitude': 39.62919,
    'longitude': -104.898419},
   {'city': 'Birmingham',
    'country_code': 'USA',
    'latitude': 42.547807,
    'longitude': -83.215498},
   {'city': 'Irvine',
    'country_code': 'USA',
    'latitude': 33.658331,
    'longitude': -117.861817},
   {'city': 'Kirkland',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'New York',
    'country_code': 'USA',
    'latitude': 40.74222,
    'longitude': -74.004489},
   {'city': 'Tempe',
    'country_code': 'USA',
    'latitude': 33.411898,
    'longitude': -111.926263},
   {'city': 'Pittsburgh',
    'country_code': 'USA',
    'latitude': 40.444528,
    'longitude': -79.946269},
   {'city': 'San Francisco',
    'country_code': 'USA',
    'latitude': 37.789803,
    'longitude': -122.389757},
   {'city': 'Santa Monica',
    'country_code': 'USA',
    'latitude': 34.019282,
    'longitude': -118.494288},
   {'city': 'Seattle',
    'country_code': 'USA',
    'latitude': 47.675326,
    'longitude': -122.351397},
   {'city': 'Seattle',
    'country_code': 'USA',
    'latitude': 47.649701,
    'longitude': -122.350592},
   {'city': 'Washington',
    'country_code': 'USA',
    'latitude': 38.901113,
    'longitude': -77.027101},
   {'city': 'Melbourne',
    'country_code': 'AUS',
    'latitude': -37.879234,
    'longitude': 145.073608},
   {'city': 'Sydney',
    'country_code': 'AUS',
    'latitude': -34.822723,
    'longitude': 138.612396},
   {'city': 'Beijing',
    'country_code': 'CHN',
    'latitude': None,
    'longitude': None},
   {'city': 'Guangzhou',
    'country_code': 'CHN',
    'latitude': None,
    'longitude': None},
   {'city': 'Shanghai',
    'country_code': 'CHN',
    'latitude': None,
    'longitude': None},
   {'city': 'Central',
    'country_code': 'HKG',
    'latitude': None,
    'longitude': None},
   {'city': 'Bangalore',
    'country_code': 'IND',
    'latitude': None,
    'longitude': None},
   {'city': 'Gurgaon',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'New Delhi',
    'country_code': 'IND',
    'latitude': 28.86999,
    'longitude': 77.122261},
   {'city': 'Hyderabad',
    'country_code': 'IND',
    'latitude': None,
    'longitude': None},
   {'city': 'Mumbai',
    'country_code': 'IND',
    'latitude': None,
    'longitude': None},
   {'city': 'Tokyo',
    'country_code': 'JPN',
    'latitude': None,
    'longitude': None},
   {'city': 'Osaka',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'Seoul',
    'country_code': 'PRK',
    'latitude': None,
    'longitude': None},
   {'city': 'Singapore',
    'country_code': 'SGP',
    'latitude': None,
    'longitude': None},
   {'city': 'Taipei',
    'country_code': 'TWN',
    'latitude': None,
    'longitude': None},
   {'city': '',
    'country_code': 'DNK',
    'latitude': 56.171882,
    'longitude': 10.187799},
   {'city': '', 'country_code': 'DNK', 'latitude': None, 'longitude': None},
   {'city': 'Helsinki',
    'country_code': 'FIN',
    'latitude': None,
    'longitude': None},
   {'city': 'Paris',
    'country_code': 'FRA',
    'latitude': 48.869606,
    'longitude': 2.332749},
   {'city': 'Hamburg',
    'country_code': 'DEU',
    'latitude': 53.554052,
    'longitude': 9.985266},
   {'city': 'Dublin',
    'country_code': 'IRL',
    'latitude': 53.339914,
    'longitude': -6.234424},
   {'city': 'Milan',
    'country_code': 'ITA',
    'latitude': 45.46381,
    'longitude': 9.195978},
   {'city': 'Amsterdam',
    'country_code': 'NLD',
    'latitude': 52.337495,
    'longitude': 4.871464},
   {'city': 'Oslo',
    'country_code': 'NOR',
    'latitude': 59.915848,
    'longitude': 10.741047},
   {'city': 'Trondheim',
    'country_code': 'NOR',
    'latitude': 63.435324,
    'longitude': 10.412428},
   {'city': 'KrakÃ³w',
    'country_code': 'POL',
    'latitude': 50.063281,
    'longitude': 19.929806},
   {'city': 'Wroclaw',
    'country_code': 'POL',
    'latitude': 51.116574,
    'longitude': 17.041942},
   {'city': 'Moscow',
    'country_code': 'RUS',
    'latitude': None,
    'longitude': None},
   {'city': 'St. Petersburg',
    'country_code': 'RUS',
    'latitude': None,
    'longitude': None},
   {'city': 'Madrid',
    'country_code': 'ESP',
    'latitude': None,
    'longitude': None},
   {'city': 'LuleÃ¥',
    'country_code': 'SWE',
    'latitude': 65.617491,
    'longitude': 22.126255},
   {'city': 'Stockholm',
    'country_code': 'SWE',
    'latitude': 59.332344,
    'longitude': 18.060162},
   {'city': 'ZÃ¼rich',
    'country_code': 'CHE',
    'latitude': 47.36554,
    'longitude': 8.524864},
   {'city': 'London',
    'country_code': 'GBR',
    'latitude': None,
    'longitude': None},
   {'city': 'Manchester',
    'country_code': 'GBR',
    'latitude': 53.473606,
    'longitude': -2.250166},
   {'city': 'Montreal',
    'country_code': 'CAN',
    'latitude': 45.498588,
    'longitude': -73.567044},
   {'city': 'Toronto',
    'country_code': 'CAN',
    'latitude': None,
    'longitude': None},
   {'city': 'Waterloo',
    'country_code': 'CAN',
    'latitude': 43.474704,
    'longitude': -80.546381},
   {'city': 'Buenos Aires',
    'country_code': 'ARG',
    'latitude': None,
    'longitude': None},
   {'city': 'Sao Paulo',
    'country_code': 'BRA',
    'latitude': -23.590463,
    'longitude': -46.681494},
   {'city': 'Mexico',
    'country_code': 'MEX',
    'latitude': 19.507519,
    'longitude': -99.030156},
   {'city': 'Haifa',
    'country_code': 'ISR',
    'latitude': None,
    'longitude': None},
   {'city': 'Tel-Aviv',
    'country_code': 'ISR',
    'latitude': None,
    'longitude': None},
   {'city': 'Istanbul',
    'country_code': 'TUR',
    'latitude': None,
    'longitude': None},
   {'city': 'Dubai',
    'country_code': 'ARE',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Salesforce',
  'number_of_employees': 3500,
  'total_money_raised': '$99.9M',
  'offices': [{'city': 'San Francisco',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Groupon',
  'number_of_employees': 10000,
  'total_money_raised': '$1.15B',
  'offices': [{'city': 'Chicago',
    'country_code': 'USA',
    'latitude': 41.8965162,
    'longitude': -87.643622},
   {'city': 'Palo Alto',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'San Francisco',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'Seattle',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Sapient',
  'number_of_employees': 10000,
  'total_money_raised': '$2.4M',
  'offices': [{'city': 'Boston',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'city': 'New York',
    'country_code': 'USA',
    'latitude': 40.707872,
    'longitude': -74.004731},
   {'city': 'Atlanta',
    'country_code': 'USA',
    'latitude': 33.8540338,
    'longitude': -84.3584803},
   {'city': 'Chicago',
    'country_code': 'USA',
    'latitude': 41.881065,
    'longitude': -87.62903},
   {'city': 'Birmingham',
    'country_code': 'USA',
    'latitude': 42.5469062,
    'longitude': -83.2144938},
   {'city': 'Miami',
    'country_code': 'USA',
    'latitude': 25.790926,
    'longitude': -80.1343277},
   {'city': 'San Francisco',
    'country_code': 'USA',
    'latitude': 37.79088,
    'longitude': -122.392521},
   {'city': 'Arlington',
    'country_code': 'USA',
    'latitude': 38.8911989,
    'longitude': -77.0837482}]}]

In [84]:
len(result_gaming_latlong_sf)

4

In [85]:
df_sf = pd.DataFrame(result_gaming_latlong_sf)
df_sf

,name,number_of_employees,total_money_raised,offices
0,Google,28000,$555M,"[{'city': 'Mountain View', 'country_code': 'US..."
1,Salesforce,3500,$99.9M,"[{'city': 'San Francisco', 'country_code': 'US..."
2,Groupon,10000,$1.15B,"[{'city': 'Chicago', 'country_code': 'USA', 'l..."
3,Sapient,10000,$2.4M,"[{'city': 'Boston', 'country_code': 'USA', 'la..."

In [93]:
df_sf.offices[1][0]["city"]

'San Francisco'

In [94]:
sf_list = []

for item, rows in df_sf.iterrows():
    for i in rows["offices"]:
        sf_list.append(i)

sf_list

[{'city': 'Mountain View',
  'country_code': 'USA',
  'latitude': 37.421972,
  'longitude': -122.084143},
 {'city': 'Ann Arbor',
  'country_code': 'USA',
  'latitude': 42.280988,
  'longitude': -83.748882},
 {'city': 'Atlanta',
  'country_code': 'USA',
  'latitude': 33.781466,
  'longitude': -84.387519},
 {'city': 'Austin',
  'country_code': 'USA',
  'latitude': 30.351416,
  'longitude': -97.751382},
 {'city': 'Boulder',
  'country_code': 'USA',
  'latitude': 40.021416,
  'longitude': -105.260931},
 {'city': 'Cambridge',
  'country_code': 'USA',
  'latitude': 42.36305,
  'longitude': -71.087478},
 {'city': 'Chicago',
  'country_code': 'USA',
  'latitude': 41.889474,
  'longitude': -87.628912},
 {'city': 'Coppell',
  'country_code': 'USA',
  'latitude': 32.981465,
  'longitude': -97.018196},
 {'city': 'Dallas',
  'country_code': 'USA',
  'latitude': 32.809161,
  'longitude': -96.807693},
 {'city': 'Denver',
  'country_code': 'USA',
  'latitude': 39.62919,
  'longitude': -104.898419},
 {'city': 'Birmingham',
  'country_code': 'USA',
  'latitude': 42.547807,
  'longitude': -83.215498},
 {'city': 'Irvine',
  'country_code': 'USA',
  'latitude': 33.658331,
  'longitude': -117.861817},
 {'city': 'Kirkland',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': 40.74222,
  'longitude': -74.004489},
 {'city': 'Tempe',
  'country_code': 'USA',
  'latitude': 33.411898,
  'longitude': -111.926263},
 {'city': 'Pittsburgh',
  'country_code': 'USA',
  'latitude': 40.444528,
  'longitude': -79.946269},
 {'city': 'San Francisco',
  'country_code': 'USA',
  'latitude': 37.789803,
  'longitude': -122.389757},
 {'city': 'Santa Monica',
  'country_code': 'USA',
  'latitude': 34.019282,
  'longitude': -118.494288},
 {'city': 'Seattle',
  'country_code': 'USA',
  'latitude': 47.675326,
  'longitude': -122.351397},
 {'city': 'Seattle',
  'country_code': 'USA',
  'latitude': 47.649701,
  'longitude': -122.350592},
 {'city': 'Washington',
  'country_code': 'USA',
  'latitude': 38.901113,
  'longitude': -77.027101},
 {'city': 'Melbourne',
  'country_code': 'AUS',
  'latitude': -37.879234,
  'longitude': 145.073608},
 {'city': 'Sydney',
  'country_code': 'AUS',
  'latitude': -34.822723,
  'longitude': 138.612396},
 {'city': 'Beijing',
  'country_code': 'CHN',
  'latitude': None,
  'longitude': None},
 {'city': 'Guangzhou',
  'country_code': 'CHN',
  'latitude': None,
  'longitude': None},
 {'city': 'Shanghai',
  'country_code': 'CHN',
  'latitude': None,
  'longitude': None},
 {'city': 'Central',
  'country_code': 'HKG',
  'latitude': None,
  'longitude': None},
 {'city': 'Bangalore',
  'country_code': 'IND',
  'latitude': None,
  'longitude': None},
 {'city': 'Gurgaon',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'New Delhi',
  'country_code': 'IND',
  'latitude': 28.86999,
  'longitude': 77.122261},
 {'city': 'Hyderabad',
  'country_code': 'IND',
  'latitude': None,
  'longitude': None},
 {'city': 'Mumbai',
  'country_code': 'IND',
  'latitude': None,
  'longitude': None},
 {'city': 'Tokyo', 'country_code': 'JPN', 'latitude': None, 'longitude': None},
 {'city': 'Osaka', 'country_code': 'USA', 'latitude': None, 'longitude': None},
 {'city': 'Seoul', 'country_code': 'PRK', 'latitude': None, 'longitude': None},
 {'city': 'Singapore',
  'country_code': 'SGP',
  'latitude': None,
  'longitude': None},
 {'city': 'Taipei',
  'country_code': 'TWN',
  'latitude': None,
  'longitude': None},
 {'city': '',
  'country_code': 'DNK',
  'latitude': 56.171882,
  'longitude': 10.187799},
 {'city': '', 'country_code': 'DNK', 'latitude': None, 'longitude': None},
 {'city': 'Helsinki',
  'country_code': 'FIN',
  'latitude': None,
  'longitude': None},
 {'city': 'Paris',
  'country_code': 'FRA',
  'latitude': 48.869606,
  'longitude': 2.332749},
 {'city': 'Hamburg',
  'country_code': 'DEU',
  'latitude': 53.554052,
  'longitude': 9.985266},
 {'city': 'Dublin',
  'country_code': 'IRL',
  'latitude': 53.339914,
  'longitude': -6.234424},
 {'city': 'Milan',
  'country_code': 'ITA',
  'latitude': 45.46381,
  'longitude': 9.195978},
 {'city': 'Amsterdam',
  'country_code': 'NLD',
  'latitude': 52.337495,
  'longitude': 4.871464},
 {'city': 'Oslo',
  'country_code': 'NOR',
  'latitude': 59.915848,
  'longitude': 10.741047},
 {'city': 'Trondheim',
  'country_code': 'NOR',
  'latitude': 63.435324,
  'longitude': 10.412428},
 {'city': 'KrakÃ³w',
  'country_code': 'POL',
  'latitude': 50.063281,
  'longitude': 19.929806},
 {'city': 'Wroclaw',
  'country_code': 'POL',
  'latitude': 51.116574,
  'longitude': 17.041942},
 {'city': 'Moscow',
  'country_code': 'RUS',
  'latitude': None,
  'longitude': None},
 {'city': 'St. Petersburg',
  'country_code': 'RUS',
  'latitude': None,
  'longitude': None},
 {'city': 'Madrid',
  'country_code': 'ESP',
  'latitude': None,
  'longitude': None},
 {'city': 'LuleÃ¥',
  'country_code': 'SWE',
  'latitude': 65.617491,
  'longitude': 22.126255},
 {'city': 'Stockholm',
  'country_code': 'SWE',
  'latitude': 59.332344,
  'longitude': 18.060162},
 {'city': 'ZÃ¼rich',
  'country_code': 'CHE',
  'latitude': 47.36554,
  'longitude': 8.524864},
 {'city': 'London',
  'country_code': 'GBR',
  'latitude': None,
  'longitude': None},
 {'city': 'Manchester',
  'country_code': 'GBR',
  'latitude': 53.473606,
  'longitude': -2.250166},
 {'city': 'Montreal',
  'country_code': 'CAN',
  'latitude': 45.498588,
  'longitude': -73.567044},
 {'city': 'Toronto',
  'country_code': 'CAN',
  'latitude': None,
  'longitude': None},
 {'city': 'Waterloo',
  'country_code': 'CAN',
  'latitude': 43.474704,
  'longitude': -80.546381},
 {'city': 'Buenos Aires',
  'country_code': 'ARG',
  'latitude': None,
  'longitude': None},
 {'city': 'Sao Paulo',
  'country_code': 'BRA',
  'latitude': -23.590463,
  'longitude': -46.681494},
 {'city': 'Mexico',
  'country_code': 'MEX',
  'latitude': 19.507519,
  'longitude': -99.030156},
 {'city': 'Haifa', 'country_code': 'ISR', 'latitude': None, 'longitude': None},
 {'city': 'Tel-Aviv',
  'country_code': 'ISR',
  'latitude': None,
  'longitude': None},
 {'city': 'Istanbul',
  'country_code': 'TUR',
  'latitude': None,
  'longitude': None},
 {'city': 'Dubai', 'country_code': 'ARE', 'latitude': None, 'longitude': None},
 {'city': 'San Francisco',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'Chicago',
  'country_code': 'USA',
  'latitude': 41.8965162,
  'longitude': -87.643622},
 {'city': 'Palo Alto',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'San Francisco',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'Seattle',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'Boston',
  'country_code': 'USA',
  'latitude': None,
  'longitude': None},
 {'city': 'New York',
  'country_code': 'USA',
  'latitude': 40.707872,
  'longitude': -74.004731},
 {'city': 'Atlanta',
  'country_code': 'USA',
  'latitude': 33.8540338,
  'longitude': -84.3584803},
 {'city': 'Chicago',
  'country_code': 'USA',
  'latitude': 41.881065,
  'longitude': -87.62903},
 {'city': 'Birmingham',
  'country_code': 'USA',
  'latitude': 42.5469062,
  'longitude': -83.2144938},
 {'city': 'Miami',
  'country_code': 'USA',
  'latitude': 25.790926,
  'longitude': -80.1343277},
 {'city': 'San Francisco',
  'country_code': 'USA',
  'latitude': 37.79088,
  'longitude': -122.392521},
 {'city': 'Arlington',
  'country_code': 'USA',
  'latitude': 38.8911989,
  'longitude': -77.0837482}]

In [95]:
df_sf_coordinates = pd.DataFrame(sf_list)
df_sf_coordinates

             city country_code   latitude   longitude
0   Mountain View          USA  37.421972 -122.084143
1       Ann Arbor          USA  42.280988  -83.748882
2         Atlanta          USA  33.781466  -84.387519
3          Austin          USA  30.351416  -97.751382
4         Boulder          USA  40.021416 -105.260931
..            ...          ...        ...         ...
75        Chicago          USA  41.881065  -87.629030
76     Birmingham          USA  42.546906  -83.214494
77          Miami          USA  25.790926  -80.134328
78  San Francisco          USA  37.790880 -122.392521
79      Arlington          USA  38.891199  -77.083748

[80 rows x 4 columns]

In [96]:
# selecting rows based on condition San Francisco
df_sf_coordinates2 = (df_sf_coordinates[df_sf_coordinates['city'] == "San Francisco"]).reset_index().drop('index', axis=1) 
df_sf_coordinates2

            city country_code   latitude   longitude
0  San Francisco          USA  37.789803 -122.389757
1  San Francisco          USA        NaN         NaN
2  San Francisco          USA        NaN         NaN
3  San Francisco          USA  37.790880 -122.392521

In [102]:
df_sf_coordinates3 = df_sf_coordinates2[df_sf_coordinates2['latitude'].notna()]
df_sf_coordinates4 = df_sf_coordinates3.reset_index().drop('index', axis=1) 
df_sf_coordinates4

            city country_code   latitude   longitude
0  San Francisco          USA  37.789803 -122.389757
1  San Francisco          USA  37.790880 -122.392521

In [103]:
# Now with altitude and longitude  but filtering for the key cities I'm interested in: San Jose
condition_one = {"description": {"$regex": "design"}}
condition_two = {"tag_list": {"$regex": "design"}}
condition_three = {"name": {"$regex": "design"}}
condition_four = {"category_code": {"$regex": "design"}}
condition_five = {"total_money_raised": {"$regex": "M"}}
condition_six = {"total_money_raised": {"$regex": "B"}}
condition_seven = {"number_of_employees": {"$gte": 3000}}
condition_eight = {"offices.city": {"$regex": "Jose"}}

In [104]:
projection = {"name": 1, "number_of_employees": 1, "total_money_raised": 1,"offices.country_code": 1,"offices.city": 1,"offices.latitude": 1,"offices.longitude": 1, "_id":0}
result_gaming_latlong_sj = list(c.find({
    "$and": [
        {
            "$or": [
                 condition_one,
                condition_two, condition_three,
                condition_four,
                  condition_five,condition_six
                    ]}, 
    
    condition_seven,condition_eight]}, projection))


result_gaming_latlong_sj

[{'name': 'eBay',
  'number_of_employees': 15000,
  'total_money_raised': '$6.7M',
  'offices': [{'city': 'San Jose',
    'country_code': 'USA',
    'latitude': 37.295005,
    'longitude': -121.930035}]},
 {'name': 'Cisco',
  'number_of_employees': 63000,
  'total_money_raised': '$2.5M',
  'offices': [{'city': 'San Jose',
    'country_code': 'USA',
    'latitude': 37.408802,
    'longitude': -121.95377}]},
 {'name': 'Adobe Systems',
  'number_of_employees': 7173,
  'total_money_raised': '$0',
  'offices': [{'city': 'San Jose',
    'country_code': 'USA',
    'latitude': 37.320052,
    'longitude': -121.877636}]},
 {'name': 'PayPal',
  'number_of_employees': 300000,
  'total_money_raised': '$197M',
  'offices': [{'city': 'San Jose',
    'country_code': 'USA',
    'latitude': 37.294465,
    'longitude': -121.927696}]}]

In [105]:
len(result_gaming_latlong_sj)

4

In [106]:
df_sj = pd.DataFrame(result_gaming_latlong_sj)
df_sj

,name,number_of_employees,total_money_raised,offices
0,eBay,15000,$6.7M,"[{'city': 'San Jose', 'country_code': 'USA', '..."
1,Cisco,63000,$2.5M,"[{'city': 'San Jose', 'country_code': 'USA', '..."
2,Adobe Systems,7173,$0,"[{'city': 'San Jose', 'country_code': 'USA', '..."
3,PayPal,300000,$197M,"[{'city': 'San Jose', 'country_code': 'USA', '..."

In [107]:
sj_list = []

for item, rows in df_sj.iterrows():
    for i in rows["offices"]:
        sj_list.append(i)

sj_list

[{'city': 'San Jose',
  'country_code': 'USA',
  'latitude': 37.295005,
  'longitude': -121.930035},
 {'city': 'San Jose',
  'country_code': 'USA',
  'latitude': 37.408802,
  'longitude': -121.95377},
 {'city': 'San Jose',
  'country_code': 'USA',
  'latitude': 37.320052,
  'longitude': -121.877636},
 {'city': 'San Jose',
  'country_code': 'USA',
  'latitude': 37.294465,
  'longitude': -121.927696}]

In [108]:
df_sj_coordinates = pd.DataFrame(sj_list)
df_sj_coordinates

       city country_code   latitude   longitude
0  San Jose          USA  37.295005 -121.930035
1  San Jose          USA  37.408802 -121.953770
2  San Jose          USA  37.320052 -121.877636
3  San Jose          USA  37.294465 -121.927696

In [138]:
# First map - New York using the coordinates of one of the companies
nyc_map  = Map(location = [40.755716,-73.979247], zoom_start = 15)

In [139]:
nyc_map

In [147]:
df_nyc_coordinates3

       city country_code   latitude  longitude
0  New York          USA  40.755716 -73.979247
1  New York          USA  40.742220 -74.004489
2  New York          USA  40.731132 -73.991931
4  New York          USA  40.707872 -74.004731
5  New York          USA  40.756799 -73.976348

In [148]:
# Adding a number to each company
company = ['Company 1', 'Company 2', 'Company 3', 'Company 4','Company 5']
  
df_nyc_coordinates4 = df_nyc_coordinates3.copy()
df_nyc_coordinates4['Company'] = company
df_nyc_coordinates4

       city country_code   latitude  longitude    Company
0  New York          USA  40.755716 -73.979247  Company 1
1  New York          USA  40.742220 -74.004489  Company 2
2  New York          USA  40.731132 -73.991931  Company 3
4  New York          USA  40.707872 -74.004731  Company 4
5  New York          USA  40.756799 -73.976348  Company 5

In [149]:
for index, row in df_nyc_coordinates4.iterrows():
    
    #1. MARKER without icon
    nyc_location = {"location": [row["latitude"], row["longitude"]], "tooltip": row["Company"]}
    
    #2. Icon      
    icon = Icon (
            color="blue",
            opacity = 0.6,
            prefix = "fa",
            icon="briefcase",
            icon_color = "black"
        )

    #3. Marker
    new_marker = Marker(**nyc_location, icon = icon, radius = 2)
    
    #4. Add the Marker
    new_marker.add_to(nyc_map)

In [150]:
nyc_map

In [151]:
# Second map - San Francisco using the coordinates of one of the companies
sf_map  = Map(location = [37.789803,-122.389757], zoom_start = 15)
sf_map

In [152]:
df_sf_coordinates4

            city country_code   latitude   longitude
0  San Francisco          USA  37.789803 -122.389757
1  San Francisco          USA  37.790880 -122.392521

In [153]:
df_sf_coordinates5 = df_sf_coordinates4.copy()
company = ["company 1","company 2"]
df_sf_coordinates5["Company"] = company
df_sf_coordinates5

            city country_code   latitude   longitude    Company
0  San Francisco          USA  37.789803 -122.389757  company 1
1  San Francisco          USA  37.790880 -122.392521  company 2

In [154]:
for index, row in df_sf_coordinates5.iterrows():
    
    #1. MARKER without icon
    sf_location = {"location": [row["latitude"], row["longitude"]], "tooltip": row["Company"]}
    
    #2. Icon      
    icon = Icon (
            color="red",
            opacity = 0.6,
            prefix = "fa",
            icon="briefcase",
            icon_color = "black"
        )

    #3. Marker
    new_marker = Marker(**sf_location, icon = icon, radius = 2)
    
    #4. Add the Marker
    new_marker.add_to(sf_map)

In [155]:
sf_map

In [156]:
# Third map - San Jose using the coordinates of one of the companies
sj_map  = Map(location = [37.295005,-121.930035], zoom_start = 15)
sj_map

In [157]:
df_sj_coordinates

       city country_code   latitude   longitude
0  San Jose          USA  37.295005 -121.930035
1  San Jose          USA  37.408802 -121.953770
2  San Jose          USA  37.320052 -121.877636
3  San Jose          USA  37.294465 -121.927696

In [158]:
df_sj_coordinates2 = df_sj_coordinates.copy()
company = ["company 1","company 2", "company 3", "company 4"]
df_sj_coordinates2["Company"] = company
df_sj_coordinates2

       city country_code   latitude   longitude    Company
0  San Jose          USA  37.295005 -121.930035  company 1
1  San Jose          USA  37.408802 -121.953770  company 2
2  San Jose          USA  37.320052 -121.877636  company 3
3  San Jose          USA  37.294465 -121.927696  company 4

In [159]:
for index, row in df_sj_coordinates2.iterrows():
    
    #1. MARKER without icon
    sj_location = {"location": [row["latitude"], row["longitude"]], "tooltip": row["Company"]}
    
    #2. Icon      
    icon = Icon (
            color="green",
            opacity = 0.6,
            prefix = "fa",
            icon="briefcase",
            icon_color = "black"
        )

    #3. Marker
    new_marker = Marker(**sj_location, icon = icon, radius = 2)
    
    #4. Add the Marker
    new_marker.add_to(sj_map)

In [160]:
sj_map

In [161]:
nyc_map.save("nyc_map.html")

In [162]:
sf_map.save("sf_map.html")

In [163]:
sj_map.save("sj_map.html")